doctype html
html
  head
    meta(charset='utf-8')
    title=site.name
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
    meta(name='viewport', content='width=device-width')
    meta(name='author', content=site.author)
    block styles
      link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/main.css')
    block scripts
      script.
        WebFontConfig = {
          google: { families: ['Open+Sans:400,700:latin'] }
        };
        (function () {
          var wf = document.createElement('script');
          wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
        })();
  block content
    body.container
      block head
        header.page-header
          h1=site.name
            |  
            small='v'+site.version
              |  
              a(target='_blank', href='//david-dm.org/egy186/twtw', title='Dependency status')
                img(src='//img.shields.io/david/egy186/twtw.svg?style=flat')
              |  
              a(target='_blank', href='//david-dm.org/egy186/twtw#info=devDependencies', title='devDependency status')
                img(src='//img.shields.io/david/dev/egy186/twtw.svg?style=flat')
          p=site.description
      block body
      block foot
        footer.page-footer
          p by
            a(target='_blank', href='//github.com/'+site.author)='@'+site.author
